<!DOCTYPE html>
<html>

<head>
    <title>Acqiuts | About</title>
    {%include 'aquits/app.joinaquits.com/blocks/headers/newheader.html'%}
    <script>
        (function() {
            var w = window;
            var ic = w.Intercom;
            if (typeof ic === "function" && (typeof intercomSettings !== 'undefined')) {
                ic('reattach_activator');
                ic('update', intercomSettings);
            } else {
                var d = document;
                var i = function() {
                    i.c(arguments)
                };
                i.q = [];
                i.c = function(args) {
                    i.q.push(args)
                };
                w.Intercom = i;

                function l() {
                    var s = d.createElement('script');
                    s.type = 'text/javascript';
                    s.async = true;
                    s.src = 'https://widget.intercom.io/widget/llbuwyda';
                    var x = d.getElementsByTagName('script')[0];
                    x.parentNode.insertBefore(s, x);
                }

                if (w.attachEvent) {
                    w.attachEvent('onload', l);
                } else {
                    w.addEventListener('load', l, false);
                }
            }
        })()

        function intercom_init(email, user_id, user_hash) {
            if ($('.profile-menu').length > 0) {
                window.Intercom('boot', {
                    app_id: 'llbuwyda',
                    email: email,
                    user_id: user_id,
                    user_hash: user_hash,
                    custom_launcher_selector: '.intercom'
                });
            }
        }
    </script>
    <script>
        window.Intercom('boot', {
            app_id: 'llbuwyda',
            custom_launcher_selector: '.intercom'
        });
    </script>
</head>

<body id="marketing">
    <script type="text/javascript">
        /* <![CDATA[ */
        var google_conversion_id = 844040708;
        var google_custom_params = window.google_tag_params;
        var google_remarketing_only = true;
        /* ]]> */
    </script>
    <script type="text/javascript" src="https://www.googleadservices.com/pagead/conversion.js">
    </script>
    <noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="../www.google.com.ng/pagead/1p-user-list/844040708/index-guid=ON&script=0&cdct=2&is_vtc=1&random=3620896744&ipr=y.gif"/>
</div>

</noscript>
    <nav class="affix-top transparent-background">
        <div class="container">
            <div class="brand">
                <a class="" href="index">
                    <img src="/assets/logos/favicon-1a19edb624513b12f9d089aa1702dac05ab840b22ea347c7526efdda1f3d3de3.png" height="100" ; width="130" />

                </a>
            </div>
            <div class="pull-right hidden-md hidden-lg">
                <div class="dropdown">
                    <span class="glyphicon glyphicon-align-justify navbar-hamburger-menu" data-toggle="dropdown">
</span>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="login">Login</a>
                        </li>
                        <li>
                            <a href="users/create_account">Sign Up For Free</a>
                        </li>
                        <li>
                            <a href="users/new_allies.">For Allies</a>
                        </li>
                        <li>
                            <a href="sign-up">Pricing</a>
                        </li>
                        <li>
                            <a href="testimonials">Testimonials</a>
                        </li>
                        <li>
                            <a href="http://blog.joinaquits.com">Blog</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="links">
                <ul class="hidden-sm hidden-xs">
                    <li class="pull-right">
                        <a href="login">
                            <div class="marketing-button white arrow">Login<i aria-hidden="true" class="fa fa-arrow-right">
</i>
                            </div>
                        </a>
                    </li>
                    <li class="pull-right underlined">
                        <a href="users/create_account">Sign Up For Free</a>
                    </li>
                    <li class="pull-right">
                        <a href="sign-up">Pricing</a>
                    </li>
                    <li class="pull-right">
                        <a href="users/new_allies">For Allies</a>
                    </li>
                    <li class="pull-right">
                        <a href="testimonials">Testimonials</a>
                    </li>
                    <li class="pull-right">
                        <a href="http://blog.joinaquits.com">Blog</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="content">
        <div class="absolute-position full-width z-index">
            <div class="container">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 mar-top20">
                    <div id="application-notifications-container">
                        <div class="ajax-notifications notifications hidden">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="subscription-section-1">
        </div>
        <div id="about-page">
            <div class="container">
                <div class="col-md-10 col-md-offset-1 plan-up">
                    <div class="card card-wrapper">
                        <div class="about">
                            <div class="about-content col-md-8 col-md-offset-2">
                                <div class="about-title mar-bot65">About</div>
                                <div class="about-focus-content">Acquit</div>
                                <div class="about-focus-definition">To make strong, or stronger.<br />To strengthen a place, making it defensible and more secure.<br />To impart physical strength or endurance to; invigorate or reinforce someone mentally or physically.</div>
                                <p>Acquits is an online support community for men and women – young and old – seeking lasting freedom from pornography. In addition to a series of instructional videos and accompanying training, Acquits offers many opportunities
                                    for individuals to share insights and stories together.</p>
                                <p>After hearing from thousands of people trying to step away from pornography we began gathering anything that had been shown to be helpful for others. We teamed up with psychologists, neurologists, therapists, and other
                                    mental health experts to create an online experience that could equip and empower a person to move away from pornography use and toward a happier life. We worked for nearly two years researching and developing. The
                                    initial course launched in 2013 was viewed by 75,000 people in 155 countries. Based on feedback from early users, the entire training, platform, and experience has been updated, revised, and expanded with extensive
                                    opportunities for interaction and growth.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="faq">
                <div class="container">
                    <div class="faq-title text-center blue-header">Frequently Asked Questions</div>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="card faq-table">
                                <div class="card-body responsive">
                                    <div class="card-row">
                                        <div class="faq-header">What does my basic subscription include?
                                            <div class="fa fa-angle-down expander">
                                            </div>
                                        </div>
                                        <div class="faq-body">You will be able to track your daily victories and setbacks, lifestyle contributors on a weekly level, and your overall well being on a monthly basis (depression, anxiety, connectedness, etc.) - each of which provide
                                            some basic summary stats. You can also access a portion of the training (Week 1) - and progress in the gamified levels. Along with being able to participate in a “daily discussion,” you can access SOS anytime
                                            (for immediate support), and a place to journal thoughts and create your own Freedom Plan (aiming for longer-term progress). In addition to being able to participate in monthly “Acquits chats,” you’ll be able
                                            to explore our professional directory as well.</div>
                                    </div>
                                    <div class="card-row">
                                        <div class="faq-header">What are the advantages of upgrading to Acquits Premium?
                                            <div class="fa fa-angle-down expander">
                                            </div>
                                        </div>
                                        <div class="faq-body">You will have access to all the Acquits training videos, strategies and our full resource library - including current and past webinars with experts in recovery. In addition to tracking basic stats for your daily
                                            victories and setbacks, you’ll be able to dive deeper into various correlations associated with patterns of good days and hard days. Deeper analysis will also be available for weekly lifestyle inventories and
                                            monthly surveys of depression, anxiety, connectedness and overall well-being. Any of this data can be shared with unlimited allies who you can give access - as well as send text and video messaging. The entire
                                            Acquits community (forum) is also available to you as well. (A separate payment is involved for those wanting additional support through a coach or peer group).</div>
                                    </div>
                                    <div class="card-row">
                                        <div class="faq-header">How long does Acquits take?
                                            <div class="fa fa-angle-down expander">
                                            </div>
                                        </div>
                                        <div class="faq-body">There is no set amount of time to move through Acquits. The training can be explored in whatever time frame feels comfortable. We provide a 12-week pathway as one option. We encourage people to take whatever time
                                            they need - and not to rush or go too fast. Participation in the Daily Tracker, webinars, forums, groups and in personalized coaching are open-ended – and can go as long as someone needs.</div>
                                    </div>
                                    <div class="card-row">
                                        <div class="faq-header">Is Acquits a kind of therapy?
                                            <div class="fa fa-angle-down expander">
                                            </div>
                                        </div>
                                        <div class="faq-body">No, it is not. We’re careful to respect that line – and encourage people seeking therapeutic advice to connect with a counselor or other professional. That’s why we’ve worked hard to create and launch a new professional
                                            directory as well! Our aim is to offer high-quality education, based on the best available research, and technology – combined with opportunities to interact with others seeking this same freedom. Many individuals
                                            who are working with a therapist use Acquits as a complementary tool for their overall recovery efforts.</div>
                                    </div>
                                    <div class="card-row">
                                        <div class="faq-header">How can I know if Acquits is right for me?
                                            <div class="fa fa-angle-down expander">
                                            </div>
                                        </div>
                                        <div class="faq-body">Try it out for yourself! One of the purposes of the free basic access is to give people a chance to experience Acquits directly for themselves and see if it feels like a good fit. We respect that there are many
                                            other kinds of supports that may also be very helpful. In fact, we mention many of them within Acquits to encourage people to look around for anything that can be personally impactful. We definitely want you
                                            to go with what is right for you!</div>
                                    </div>
                                    <div class="card-row">
                                        <div class="faq-header">Will Acquits be enough to free me from pornography?
                                            <div class="fa fa-angle-down expander">
                                            </div>
                                        </div>
                                        <div class="faq-body">What it takes to reach lasting freedom is often unique for diverse individuals from different backgrounds. Although we’re committed to doing everything we can to help support, encourage, and guide you in that direction,
                                            we obviously do not have the power to “make the changes” happen in your own life (or even to know what exactly those changes need to look like for you). That’s for you to find out! We&#39;re excited to be joining
                                            you on the path – whatever that looks like for you. Rather than a “program” to complete, think of Acquits more like a strengthening gym and supportive community for people with many different situations and
                                            needs.
                                        </div>
                                    </div>
                                    <div class="card-row">
                                        <div class="faq-header">Does Acquits take a specific philosophical approach?
                                            <div class="fa fa-angle-down expander">
                                            </div>
                                        </div>
                                        <div class="faq-body">While our team brings together many different perspectives on this issue, we are united in our commitment to helping people find lasting, sustainable freedom from pornography. A good way to describe our collective
                                            approach is that we’re trying to bring together any perspective or strategy that might be helpful in sparking someone’s sustainable change. We offer these approaches as educators and peers in the fight.</div>
                                    </div>
                                    <div class="card-row">
                                        <div class="faq-header">What is the perspective of the Acquits team on pornography addiction?
                                            <div class="fa fa-angle-down expander">
                                            </div>
                                        </div>
                                        <div class="faq-body">It’s a real thing. And very challenging for the people facing it. We acknowledge there are various ways and meaningful differences in how people address it. In Acquits, we attempt to make space for diverse approaches
                                            and encourage people to find what’s best for them. Since the intensity of compulsive patterns range widely, we do not assume that all individuals struggling with pornography are dealing with an actual addiction.
                                            Some that use Acquits may be struggling with an occasional habit, obsession, or compulsion. Regardless, we’ve created the Acquits training and community to be helpful across the spectrum of situations</div>
                                    </div>
                                    <div class="card-row">
                                        <div class="faq-header">Does Acquits offer any support or training for my spouse?
                                            <div class="fa fa-angle-down expander">
                                            </div>
                                        </div>
                                        <div class="faq-body">At this time, we do not provide formal training or support for spouses or other family members. That may change in the future. For now, spouses are welcome to watch any of the videos, and to provide support as an
                                            Ally. We recommend reaching out to other sources of support that can help them work through whatever challenges and difficulties they may be facing.</div>
                                    </div>
                                    <div class="card-row">
                                        <div class="faq-header">What if I can’t afford Acquits?
                                            <div class="fa fa-angle-down expander">
                                            </div>
                                        </div>
                                        <div class="faq-body">Basic access to Acquits is free for everyone - all the time. The subscription cost for Acquits Premium allows us to maintain and continually improve Acquits. For those interested in Premium access, but unable to
                                            afford it, please let us know your situation so we can explore options! You can check out our financial aid page here <a href="financial_aid">financial aid page here.</a>
                                        </div>
                                    </div>
                                    <div class="card-row">
                                        <div class="faq-header">Am I under a contract obligation with a Premium subscription or can I cancel at anytime?
                                            <div class="fa fa-angle-down expander">
                                            </div>
                                        </div>
                                        <div class="faq-body">You can cancel anytime. This is true for either your basic or premium subscription. There are no hidden fine print tricks here. You can cancel by logging into your account and going to billing page in your profile.
                                            If you cancel for any reason, coming back is easy. All you need to do is sign back into your account and either active your basic account or agree to pay for your premium access. And yes, your information will
                                            be just as you left it ready to start where you left off. Or you can start again if you need a refresher.</div>
                                    </div>
                                    <div class="card-row">
                                        <div class="faq-header">How does Acquits ensure that my subscription is anonymous?
                                            <div class="fa fa-angle-down expander">
                                            </div>
                                        </div>
                                        <div class="faq-body">Acquits does not, nor would not, share any user information – with industry standard data security protections in place. At sign-up, all we need connected to you personally is a working email address. You can use
                                            a pseudonym if you prefer. The username you create upon signing up also doesn’t have to identify you in any way and will be the only way the community will see you. If you sign-up for a Acquits group or coach,
                                            they will only know you by your custom username as well. Lastly, your bank statements will show charges from Impact Collective, LLC not Acquits.</div>
                                    </div>
                                    <div class="card-row">
                                        <div class="faq-header">How do I get in touch with the Acquits team?
                                            <div class="fa fa-angle-down expander">
                                            </div>
                                        </div>
                                        <div class="faq-body">Send us a note! We’re reachable at info@joinacquits.com. After logging in, you can also find us in the bottom left corner anytime you need. We look forward to hearing from you.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                expander();
            </script>
            {%include 'aquits/app.joinaquits.com/blocks/footers/homefooter.html'%}
        </div>
    </div>
    <div id="transition-overlay" style="display:none;">
        <div class="spin-wrap">
            <div class="loader-wrapper">
                <img src="assets/loader-25c780675f29102a41804833cd3d2ae84147548b51fd411510b5ca844f1bd036.gif" alt="Loader" />
            </div>
        </div>
    </div>
</body>

</html>