<!DOCTYPE html>
<html>

<head>
    <title>Acquits | Confirmation</title>
    {%include 'aquits/app.joinaquits.com/blocks/headers/homepage.html'%}

    <body id="marketing">
        <script type="text/javascript">
            /* <![CDATA[ */
            var google_conversion_id = 844040708;
            var google_custom_params = window.google_tag_params;
            var google_remarketing_only = true;
            /* ]]> */
        </script>
        <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
        </script>
        <noscript>
    <div style="display:inline;">
    <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/844040708/?guid=ON&amp;script=0"/>
    </div>
    </noscript>
        <nav class="affix-top transparent-background">
            <div class="container">
                <div class="brand">
                    <a class="" href="/">
                        <div class="brand lo">
                            <img src="/assets/images/aquits7.png">
                        </div>
                    </a>
                </div>
            </div>
        </nav>
        <div class="content">
            <div class="absolute-position full-width z-index">
                <div class="container">
                    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 mar-top20">
                        <div id="application-notifications-container">
                            <div class="ajax-notifications notifications hidden"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="welcome">
                <div class="section-1 centered">
                    <div class="video-wrapper">
                        <div class="fullscreen-bg" id="marketing-index-video"></div>
                        <div class="fullscreen-bg-picture"><img src="/assets/marketing/new/hero-d9c28b86576bd877cf3babd8fc9be278ac4506c2525688e34e9caf57db7e8465.png" alt="Hero" /></div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-10 col-sm-offset-1">
                                <h2 class="shadow">Thank you for registering</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                                <h3 class="shadow">Please visit your Mail to complete registration</h3>
                                <h4 class="mar-bot40">Quit Porn for good</h4>
                                <a href="gmail.com"><!--
                                    <div class="marketing-button arrow pink">click here for Gmail<i aria-hidden="true" class="fa fa-arrow-right"></i></div>
                                </a>

                                <a href="www.yahoo.com">
                                    <div class="marketing-button arrow pink">click here for Yahoo Mail<i aria-hidden="true" class="fa fa-arrow-right"></i></div>
                                </a>
                                <a href="google.com">
                                    <div class="marketing-button arrow pink">click here for others<i aria-hidden="true" class="fa fa-arrow-right"></i></div>
                                </a>
                            </div>

                        </div>
                    </div>
                    <div class="play-btn">
                        <div class="modal fade" id="marketing-video-modal">
                            <div class="modal-dialog">
                                <div class="modal-content transparent-background">
                                    <div id="marketing-video"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="banner-1">
                    <div class="row">
                        <div class="row">
                            See How Acquits Works
                        </div>

                    </div>

                </div>
                -->

                <div>

                </div>
    </body>

</html>