
  <header>
  <div class="card-share-header">
  <div class="col-xs-1">
  <div class="webinars-wrapper">
  <!--?xml version="1.0" encoding="UTF-8"?-->
<svg viewBox="0 0 30 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 46.2 (44496) - http://www.bohemiancoding.com/sketch -->
    <title>Webinars</title>
    <desc>Created with Sketch.</desc>
    <defs>
        <radialGradient cx="86.2754522%" cy="-20.0679593%" fx="86.2754522%" fy="-20.0679593%" r="156.966783%" gradientTransform="translate(0.862755,-0.200680),scale(1.000000,0.736842),rotate(112.267906),translate(-0.862755,0.200680)" id="radialGradient-1">
            <stop stop-color="#FFC800" offset="0%">
              
            </stop>
            <stop stop-color="#FE0059" offset="100%">
              
            </stop>
        </radialGradient>
    </defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Old-Fortify-Landing-Page" transform="translate(-758.000000, -1171.000000)" fill="url(#radialGradient-1)">
            <g id="Webinars" transform="translate(748.000000, 1167.000000)">
                <path d="M25,29.1666667 C28.4583333,29.1666667 31.2291667,26.375 31.2291667,22.9166667 L31.25,10.4166667 C31.25,6.95833333 28.4583333,4.16666667 25,4.16666667 C21.5416667,4.16666667 18.75,6.95833333 18.75,10.4166667 L18.75,22.9166667 C18.75,26.375 21.5416667,29.1666667 25,29.1666667 L25,29.1666667 Z M36.0416667,22.9166667 C36.0416667,29.1666667 30.75,33.5416667 25,33.5416667 C19.25,33.5416667 13.9583333,29.1666667 13.9583333,22.9166667 L10.4166667,22.9166667 C10.4166667,30.0208333 16.0833333,35.8958333 22.9166667,36.9166667 L22.9166667,43.75 L27.0833333,43.75 L27.0833333,36.9166667 C33.9166667,35.9166667 39.5833333,30.0416667 39.5833333,22.9166667 L36.0416667,22.9166667 L36.0416667,22.9166667 Z" id="Shape">
                  
                </path>
            </g>
        </g>
    </g>
</svg>
</div>
</div>
<div class="col-xs-11">
  <h3>Fortify Chats</h3>
</div>
</div>
</header>
<div class="card-body no-padding">
  <div class="card-row">
  <div class="video-container">
  <img class="pull-left large bordered" src="https://s3-us-west-2.amazonaws.com//fortify-production/uploads/webinar/banner/990983466/webinar_1555528791.4836066.png" alt="Webinar 1555528791.4836066">
<div class="coming_soon_backdrop">
  
</div>
<div class="coming_soon">
  <div class="large-text">Coming Soon</div>
<div class="medium-text">May 29, 2019</div>
</div>
</div>
</div>
<div class="card-row">Join Holley and Vinny for a live discussion on challenges and solutions, as well as inspiration and hope.<div class="like-flag-section">
  <span class="like-partial">
  <a disable_with="Loading..." data-remote="true" rel="nofollow" data-method="post" href="/resources/shares/969671664/like">
<i class="fa fa-heart unliked">
  
</i>
</a>
</span>
<span class="likes-count">3 Likes</span>
</div>
</div>
<div id="viewable-groups-partial">
  
</div>
</div>
<div data-target-id="969671664" id="share-modal-footer">
  <div class="card">
  <div class="card-body responsive">
  <div class="makeComment">
  <div class="new-comment">
  <form class="new_comment" id="new_comment" action="/resources/shares/969671664/comments" accept-charset="UTF-8" data-remote="true" method="post">
<input name="utf8" value="✓" type="hidden">
<input name="commentable_share_type" id="commentable_share_type" value="resources/share" type="hidden">
<input name="comment[parent_id]" id="comment_parent_id" type="hidden">
<div class="whois">
  <div class="whois-holder" style="border:solid 2px #85DFFF">
<img class="img img-circle" src="https://s3-us-west-2.amazonaws.com//fortify-production/uploads/user/avatar/1010640333/avatar_1557918238.6914392.png" alt="Avatar 1557918238.6914392">
</div>
</div>
<div class="new-comment-input relative-position">
  <textarea placeholder="Share Your Thoughts..." name="comment[body]" id="comment_body">
  
</textarea>
<div class="trial-only-input">
  <span>Subscribe to post in the Community. </span>
<span class="underlined" onclick="call_premium_modal()">Subscribe now</span>
</div>
<div class="new-comment-footer clearfix">
  <input name="commit" value="Send" class="button btn-blue pull-right responsive-btn" data-disable-with="Sending.." type="submit">
</div>
</div>
<div class="send-message-toggle">
  <input name="enter_a21e97485c64918d3da8" id="enter_a21e97485c64918d3da8" value="1" class="cmn-toggle cmn-toggle-round" type="checkbox">
<label for="enter_a21e97485c64918d3da8">
  
</label>
<script>$(document).ready(function(){
  $('.new-comment label').html('').unbind().click(function(){
    if($(this).closest('form').find('.send-message-toggle input[type=checkbox]').is(':checked') == true){
      console.log(1);
      $(this).closest('form').find('input[type=submit]').removeClass('btn-grey').addClass('btn-blue').prop( "disabled", false );;
    }
    else{
      console.log(2);
      $(this).closest('form').find('input[type=submit]').addClass('btn-grey').removeClass('btn-blue').prop( "disabled", true );;
    }
  });
})</script>
</div>
<div class="send-message-toggle-text">Press Enter To Send Message</div>
</form>
<script>$('.new-comment textarea').keypress(function(e){
  if (e.which == 13) {
    if($(this).val() != "" && $(this).closest('form').find('.send-message-toggle input[type=checkbox]').is(":checked") == true){
      $(this).closest('form').submit();
      $(this).val('');
    }
  }
});

$('.new-comment input[type=submit]').click(function(e){
  target_form = $(this).closest('form')
  setTimeout(function(){
    target_form.find('textarea').val('');
  }, 500);
})

$(".chb").change(function() {
  $(".chb").prop('checked', false);
  $(this).prop('checked', true);
});</script>
</div>
</div>
<div class="commentList">
  <div class="clearfix">
  
</div>
</div>
</div>
</div>
</div>
</div>
