<!DOCTYPE html>
<html>

<head>
    <title>Acqiuts | Privacy</title>
    {%include 'aquits/app.joinaquits.com/blocks/headers/newheader.html'%}
    <script>
        (function() {
            var w = window;
            var ic = w.Intercom;
            if (typeof ic === "function" && (typeof intercomSettings !== 'undefined')) {
                ic('reattach_activator');
                ic('update', intercomSettings);
            } else {
                var d = document;
                var i = function() {
                    i.c(arguments)
                };
                i.q = [];
                i.c = function(args) {
                    i.q.push(args)
                };
                w.Intercom = i;

                function l() {
                    var s = d.createElement('script');
                    s.type = 'text/javascript';
                    s.async = true;
                    s.src = 'https://widget.intercom.io/widget/llbuwyda';
                    var x = d.getElementsByTagName('script')[0];
                    x.parentNode.insertBefore(s, x);
                }

                if (w.attachEvent) {
                    w.attachEvent('onload', l);
                } else {
                    w.addEventListener('load', l, false);
                }
            }
        })()

        function intercom_init(email, user_id, user_hash) {
            if ($('.profile-menu').length > 0) {
                window.Intercom('boot', {
                    app_id: 'llbuwyda',
                    email: email,
                    user_id: user_id,
                    user_hash: user_hash,
                    custom_launcher_selector: '.intercom'
                });
            }
        }
    </script>
    <script>
        window.Intercom('boot', {
            app_id: 'llbuwyda',
            custom_launcher_selector: '.intercom'
        });
    </script>
</head>

<body id="marketing">
    <script type="text/javascript">
        /* <![CDATA[ */
        var google_conversion_id = 844040708;
        var google_custom_params = window.google_tag_params;
        var google_remarketing_only = true;
        /* ]]> */
    </script>
    <script type="text/javascript" src="https://www.googleadservices.com/pagead/conversion.js">
    </script>
    <noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="../www.google.com.ng/pagead/1p-user-list/844040708/index-guid=ON&script=0&cdct=2&is_vtc=1&random=3620896744&ipr=y.gif"/>
</div>

</noscript>
    <nav class="affix-top transparent-background">
        <div class="container">
            <div class="brand">
                <a class="" href="index">
                    <img src="/assets/logos/favicon-1a19edb624513b12f9d089aa1702dac05ab840b22ea347c7526efdda1f3d3de3.png" height="100" ; width="130" />

                </a>
            </div>
            <div class="pull-right hidden-md hidden-lg">
                <div class="dropdown">
                    <span class="glyphicon glyphicon-align-justify navbar-hamburger-menu" data-toggle="dropdown">
</span>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="sign in">Login</a>
                        </li>
                        <li>
                            <a href="new account">Sign Up For Free</a>
                        </li>
                        <li>
                            <a href="new_allies">For Allies</a>
                        </li>
                        <li>
                            <a href="sign in">Pricing</a>
                        </li>
                        <li>
                            <a href="testimonials">Testimonials</a>
                        </li>
                        <li>
                            <a href="http://blog.joinaquits.com">Blog</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="links">
                <ul class="hidden-sm hidden-xs">
                    <li class="pull-right">
                        <a href="login">
                            <div class="marketing-button white arrow">Login<i aria-hidden="true" class="fa fa-arrow-right">
</i>
                            </div>
                        </a>
                    </li>
                    <li class="pull-right underlined">
                        <a href="new account">Sign Up For Free</a>
                    </li>
                    <li class="pull-right">
                        <a href="sign in">Pricing</a>
                    </li>
                    <li class="pull-right">
                        <a href="new_allies">For Allies</a>
                    </li>
                    <li class="pull-right">
                        <a href="testimonials">Testimonials</a>
                    </li>
                    <li class="pull-right">
                        <a href="http://blog.joinaquits.com">Blog</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="content">
        <div class="absolute-position full-width z-index">
            <div class="container">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 mar-top20">
                    <div id="application-notifications-container">
                        <div class="ajax-notifications notifications hidden">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="subscription-section-1">
        </div>
        <div id="terms-page">
            <div class="mar-bot65">
                <div class="container">
                    <div class="col-md-12 plan-up">
                        <div class="card card-wrapper">
                            <div class="row centered">
                                <h2>Privacy Policy</h2>
                            </div>
                            <div class="about">
                                <div class="about-content">
                                    <div id="terms-whole">
                                        <span>
<p>1. OUR COMMITMENT TO PRIVACY</p>
<p>Your privacy is important to us. Acquits is designed to be a self-directed and interactive learning experience that you can pursue anonymously in your home or office. We are committed to maintaining confidentiality in every phase of our relationship with you as you seek more lasting freedom from pornography. &nbsp;</p>
<br>
<p>This privacy policy outlines the treatment of information collected by the Acquits platform, the Acquits app and associated communities (on the joinaquits.com website or accessible through its app). Protecting your private information is a high priority, with technology used on this site specifically designed to protect your right to privacy. Please understand, however, that whenever you voluntarily disclose personal information online this information cannot be made 100% secure and, in some cases, that information may be intercepted, collected and used by others. That being said, we follow very high, industry-standard practices of data security to protect your information.</p>
<br>
<p>By using the Acquits platform, you consent to the data practices reviewed in this statement. &nbsp;</p>
<br>
<p>2. WHAT PERSONAL INFORMATION DO WE COLLECT FROM USERS?</p>
<p>We collect two types of information (personal information and anonymous information) and we may use these sources of information to create a third type of information, aggregate information.</p>
<br>
<p>2.1 Personal information – Direct and indirect information that identifies a particular individual, such as the individual's name, gender, date of birth, email address, and telephone number. &nbsp;If you sign-up for a Acquits subscription or other services, such as Acquits Groups or Acquits Coaching, we collect billing and credit card/debit information. This information is used to complete the purchase transaction. Acquits may also collect in its surveys demographic information, such as your age, gender, household income, race, religion and sexual health information.<br>
<br>Please keep in mind that if you directly disclose personally identifiable information or personally sensitive data through Acquits’s community forum, this information may be collected and used by others.<span>
<br>
<br>
</span>
                                        </p>
                                        <p>2.2 Anonymous information – Information that does not directly or indirectly identify an individual. This includes automatically collected information about your computer hardware and software. This information
                                            can include: your IP address, browser type, domain names, access times and referring website addresses. This information is used for the operation of the service, to maintain quality of the service, and to provide
                                            general statistics regarding use of the Acquits website. </p>
                                        <br>
                                        <p>2.3 Aggregate information – Information about groups or categories of visitors, which cannot be used to identify an individual, such as a number of hits per page and traffic sources. </p>
                                        <br>
                                        <p>3. CHILDREN UNDER THIRTEEN</p>
                                        <p>Acquits does not knowingly collect personally identifiable information from children under the age of thirteen. Children under 13 are not allowed on the website, even with parental permission. &nbsp;</p>
                                        <br>
                                        <p>4. WHEN AND HOW DO WE COLLECT INFORMATION?</p>
                                        <p>Information is gathered through forms filled out when you apply to Acquits, respond to a questionnaire or inventory, follow-up surveys, make a payment, fill out Battle Tracker info, fill out Freedom Plan strategies,
                                            Quick Questions, Action Follow-up Questions, or complete any other form on joinacquits.com. When sharing thoughts on comment threads or on web forums, you are also sharing information. &nbsp;</p>
                                        <br>
                                        <p>5. DO WE USE ‘COOKIES’? </p>
                                        <p>Yes. Cookies are small files that a site or its service provider transfers to your computer’s hard drive through your Web browser (if you allow) that enable the site’s or service provider’s systems to recognize
                                            your browser and capture and remember certain information. We use cookies to help us compile aggregate data about site traffic and site interaction so that we can offer better site experiences and tools in the
                                            future.
                                        </p>
                                        <p>Acquits may use “cookies” to help you personalize your online experience. A cookie is a text file that is placed on your hard disk by a web page server. Cookies cannot be used to run programs or deliver viruses to
                                            your computer. Cookies are uniquely assigned to you, and can only be read by a web server in the domain that issued the cookie to you.</p>
                                        <p>We use cookies to compile aggregate data about site traffic and site interactions in order to offer better site experiences and tools in the future. We may also use trusted third party services that track this information
                                            on our behalf. One of the primary purposes of cookies is to provide a convenience feature to save you time. The purpose of a cookie is to tell the Web server that you have returned to a specific page. For example,
                                            if you personalize Acquits pages, or register with the Joinacquits.com or services, a cookie helps Acquits to recall your specific information on subsequent visits. This simplifies the process of recording your
                                            personal information, such as billing addresses, shipping addresses, and so on. When you return to the same Acquits website, the information you previously provided can be retrieved, so you can easily use the
                                            Acquits features that you customized.</p>
                                        <p>You have the ability to accept or decline cookies. Most Web browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies if you prefer. Each browser is a little different,
                                            so look at your browser’s Help menu to learn the correct way to modify your cookies.If you choose to decline cookies, you may not be able to fully experience the interactive features of the Acquits services or
                                            websites you visit.<span>
<br>
<br>
</span>
                                        </p>
                                        <p>6. HOW DO WE USE YOUR INFORMATION?</p>
                                        <p>This Acquits experience involves regular communication with you via email, automated reminders and other important feedback. We assure you that your email remains confidential and will never be used for any other
                                            purpose outside of Acquits’s own mission.</p>
                                        <br>
                                        <p>6.1 &nbsp;We collect aggregate information for internal and marketing use only; we do not sell or rent your personal information to any individual, organization, company, government entity, or the public.</p>
                                        <br>
                                        <p>6.2 &nbsp;We use the information you provide when conducting a transaction to complete that transaction only. We do not share this information with outside parties.</p>
                                        <br>
                                        <p>6.3 &nbsp;We use email addresses to:</p>
                                        <br>
                                        <p>6.3.1 &nbsp;Provide you with products and services you request</p>
                                        <br>
                                        <p>6.3.2 &nbsp;Present you with product and service offers</p>
                                        <br>
                                        <p>6.3.3 &nbsp;Share new educational material</p>
                                        <br>
                                        <p>6.3.4 &nbsp;Give you updates on the movement</p>
                                        <br>
                                        <p>6.3.5 &nbsp;Gather input from you in order to optimize features and services (this is accomplished through surveys sent via email)</p>
                                        <br>
                                        <p>6.4 &nbsp;We may also contact you via surveys to conduct research about your opinion of current services or to inform you of potential new services that may be offered.</p>
                                        <br>
                                        <p>6.5 &nbsp;We may, from time to time, contact you on behalf of external business partners about a particular offering that may be of interest to you. In those cases, your unique personally identifiable information
                                            (e-mail, name, address, telephone number) is not transferred to the third party. Acquits may share data with trusted partners to help perform statistical analysis, send you email or postal mail, provide customer
                                            support, or arrange for deliveries. All such third parties are prohibited from using your personal information except to provide these services to Acquits, and they are required to maintain the confidentiality
                                            of your information.</p>
                                        <br>
                                        <p>6.6 &nbsp;Personally identifiable information provided to us online will not be used in ways unrelated to purposes described above without the user having an opportunity to opt-out or otherwise prohibit such unrelated
                                            uses.
                                        </p>
                                        <br>
                                        <p>7. &nbsp;THIRD PARTY DISCLOSURE</p>
                                        <p>We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information. Acquits does not sell, rent or lease its customer lists to third parties.</p>
                                        <p>Acquits will disclose your personal information, without notice, only if required to do so by law or in the good faith belief that such action is necessary to: (a) conform to the edicts of the law or comply with
                                            legal process served on Acquits or the site; (b) protect and defend the rights or property of Acquits; and, (c) act under exigent circumstances to protect the personal safety of users of Acquits, or the public.</p>
                                        <br>
                                        <p>In short, Acquits reserves the right to access, read, preserve, and disclose any information as we reasonably believe is necessary to (i) satisfy any applicable law, regulation, legal process or governmental request,
                                            (ii) enforce the Terms, including investigation of potential violations hereof, (iii) detect, prevent, or otherwise address fraud, security or technical issues, (iv) respond to user support requests, or (v)
                                            protect the rights, property or safety of Acquits, its users and the public.</p>
                                        <br>
                                        <p>8. &nbsp;THIRD PARTY LINKS</p>
                                        <p>As part of our educational mission, at our discretion, we may include third party links on our website. These third party sites have separate and independent privacy policies. Acquits encourages you to review the
                                            privacy statements of websites you choose to link to from Joinacquits.com so that you can understand how those websites collect, use and share your information. </p>
                                        <br>
                                        <p>Acquits is not responsible for the privacy statements or other content on websites outside of the Acquits website. Nor are we liable for the activities of these linked sites. &nbsp;Nonetheless, we seek to protect
                                            the integrity of our site and welcome any feedback about these sites.</p>
                                        <br>
                                        <p>9. &nbsp;OUR COMMITMENT TO DATA SECURITY</p>
                                        <p>Securing the information that you share with us online is a top priority. In order to prevent unauthorized access to your information, we have implemented electronic, administrative, and physical security measures.
                                            Please be aware that, despite our best efforts, no security measures are impenetrable.</p>
                                        <br>
                                        <p>We do not use vulnerability scanning and/or scanning to PCI (Payment Card Industry) standards as we do not process financial transactions on this site.</p>
                                        <p>We use regular Malware Scanning.</p>
                                        <br>
                                        <br>
                                        <p>_______________________________________________</p>
                                        <br>
                                        <br>
                                        <p>STATEMENTS OF COMPLIANCE</p>
                                        <br>
                                        <p>10. CHILDREN'S ONLINE PRIVACY PROTECTION ACT (COPPA)</p>
                                        <p>When it comes to the collection of personal information from children under 13, the Children’s Online Privacy Protection Act (COPPA) puts parents in control. The Federal Trade Commission, the nation’s consumer protection
                                            agency, enforces the COPPA Rule, which spells out what operators of websites and online services must do to protect children’s privacy and safety online.</p>
                                        <br>
                                        <p>Acquits is committed to the protection of children on the Internet. As such, it has integrated COPPA compliance features into its Acquits products to protect the private information of children under the age of 13
                                            years old. &nbsp;In particular, we do not specifically market to children under 13 - nor do we allow children under age 13 on the website. During the process of creating an account, a user is required to provide
                                            their age. If the child is determined to be under 13 years of age, Acquits will not allow them to sign-up or collect or store any personally identifiable data.</p>
                                        <br>
                                        <p>To ensure the highest level of compliance Acquits has consulted with legal experts to determine what features and functions were legally appropriate for adolescents (13 and over in the teen platform) and adults.
                                            To the best of our knowledge, Acquits conforms to the regulations outlined in COPPA.</p>
                                        <p>11. CALIFORNIA ONLINE PRIVACY PROTECTION ACT</p>
                                        <p>CalOPPA is the first state law in the nation to require commercial websites and online services to post a privacy policy. The law’s reach stretches well beyond California to require a person or company in the United
                                            States (and conceivably the world) that operates websites collecting personally identifiable information from California consumers to post a conspicuous privacy policy on its website stating exactly the information
                                            being collected and those individuals with whom it is being shared, and to comply with this policy. – See more at: <a target="_blank" rel="nofollow" href="http://consumercal.org/california-online-privacy-protection-act-caloppa/#sthash.0FdRbT51.dpuf">http://consumercal.org/california-online-privacy-protection-act-caloppa/#sthash.0FdRbT51.dpuf</a>
                                        </p>
                                        <p>According to CalOPPA we agree to the following:</p>
                                        <p>11.1 &nbsp;Users can visit our site anonymously</p>
                                        <p>11.2 &nbsp;Our final privacy policy will be linked to on our home page.</p>
                                        <p>11.3 &nbsp;Our Privacy Policy link includes the word ‘Privacy,’ and can be easily be found on the page specified above.</p>
                                        <br>
                                        <p>12. CAN-SPAM ACT</p>
                                        <p>The CAN-SPAM Act is a law that sets the rules for commercial email, establishes requirements for commercial messages, gives recipients the right to have emails stopped from being sent to them, and spells out tough
                                            penalties for violations. Per this act, know that we collect your email address in order to:</p>
                                        <p>12.1 &nbsp;Send information, respond to inquiries, and/or other requests or questions</p>
                                        <p>12.2 &nbsp;Process orders and to send information and updates pertaining to orders</p>
                                        <p>12.3 &nbsp;We may also send you additional information related to your product and/or service</p>
                                        <p>12.4 &nbsp;Continue to send emails to our Acquits users after the original signup has occurred</p>
                                        <p>To be in accordance with CANSPAM we agree to the following:</p>
                                        <p>12.5 &nbsp;NOT use false, or misleading subjects or email addresses</p>
                                        <p>12.6 &nbsp;Identify any message that is advertising another feature or service in some reasonable way</p>
                                        <p>12.7 &nbsp;Include the physical address of our business or site headquarters</p>
                                        <p>12.8 &nbsp;Monitor third party email marketing services for compliance, if one is used.</p>
                                        <p>12.9 &nbsp;Honor opt-out/unsubscribe requests quickly</p>
                                        <p>12.10 Allow users to unsubscribe by using the link at the bottom of each email</p>
                                        <p>If at any time you would like to unsubscribe from receiving future emails, you can follow the instructions at the bottom of each email and we will promptly remove you from ALL correspondence.</p>
                                        <br>
                                        <br>
                                        <p>OPT-OUT &amp; UNSUBSCRIBE<br>We respect your privacy and give you an opportunity to opt-out of receiving announcements of certain information. Users may opt-out of receiving any or all communications from Acquits
                                            by clicking “unsubscribe” in the footers of emails that we send out.</p>
                                        <br>
                                        <p>CHANGES TO THIS POLICY</p>
                                        <p>Acquits reserves the right to occasionally – and at any time – update this Statement of Privacy to reflect company and customer feedback. Privacy policy changes may be due to new technologies, industry practices,
                                            regulatory requirements or for other purposes.Acquits encourages you to periodically review this Statement to be informed of how Acquits is protecting your information. Consent will be obtained when required by
                                            applicable law. </p>
                                        <br>
                                        <p>CONTACTING US / COMMENTS AND QUESTIONS<br>Acquits welcomes your questions or comments regarding this Privacy Policy. &nbsp;If you believe that Acquits has not adhered to this policy – or if you have any questions
                                            or concerns regarding this policy, please write to <a target="_blank" rel="nofollow">info@joinacquits.com</a>.</p>
                                        <br>
                                        <p>Or you can send us a letter at: </p>
                                        <p>Impact Collective LLC</p>
                                        <p>1680 South Main Street</p>
                                        <p>Salt Lake City, UT 84115</p>
                                        <br>
                                        <p>This policy was last modified on June 14, 2017.</p>
                                        <div>
                                            <br>
                                        </div>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {%include 'aquits/app.joinaquits.com/blocks/footers/homefooter.html'%}
        </div>
    </div>
    <div id="transition-overlay" style="display:none;">
        <div class="spin-wrap">
            <div class="loader-wrapper">
                <img src="assets/loader-25c780675f29102a41804833cd3d2ae84147548b51fd411510b5ca844f1bd036.gif" alt="Loader" />
            </div>
        </div>
    </div>
</body>

</html>